
// Fonts
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #000000;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-light .navbar-brand {
  color: white;
}

.card {
  border: none;
}

.card-header {
  font-size: 2rem;
  text-align: center;
  font-family: 'Special Elite', cursive;
  background: black;
  color: white;
}

.card-body {
  text-align: center;
  font-size: 1.25rem;
  background-color: black;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  // overflow: hidden;
}

// Turns

.turn {
  animation: slideIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.list-group-item-action {
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.9);
}

.list-group-item {
  position: relative;
  justify-content: center;
  padding:0;
  border: none;
  border-top: 2px solid rgba(210, 210, 210, 1); 
  border-right: 1px solid rgba(210, 210, 210, 1); 
  border-bottom: 2px solid rgba(210, 210, 210, 1); 
  border-left: 1px solid rgba(210, 210, 210, 1); 
  margin-bottom: 2rem;
  img {
    filter: grayscale(100%);
    transition: all 0.8s;
    &:hover {
      filter: grayscale(0%);
    }
  }
  span {
    position: absolute;  
    left: 0;                        
    bottom: 0;                         
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.95);
    padding: 1em 0.5rem;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Inconsolata', monospace;
    font-size: 1.25rem;
    z-index: 2;
    width: 100%;
  }
}

.song-list {
  text-align: center;
  align-items: center;
}

.song-list-item {
  width: auto;
  border: none;
  background-color: black;
  text-align: center;
  &:hover {
    background-color: black;
  }
  font-size: 1.75rem;
  transition: all 0.5s;
  &:hover {
    color: darken(white, 40%);
  }
 
}

label {
  color: white;
}

.dots {
  color: white;
  font-size: 3rem;
  padding: 1rem;
}

.btn-primary {
  background-color: white;
  color: black;
}
